*{
    padding: 0;
    margin:0;
}
html,body{
height: 100%;
width: 100%;
}
.p{
height: 200px;
width: 200px;
border: 2px dotted darkblue;
background-color: #aaddcc;
margin: 30px;
padding: 10px;
font-size: 1em;
}
.c{
    height: 5%;
    width: 50%;
    background-color: aqua;
    border: 2px solid violet;
    margin: 20px;
    padding:3em;
}
section{
    border: 2px solid black;
    font-size: 20px;font-size: 29px;
}
#outer{
    border: 1px solid ;
    background-color:floralwhite ;
    padding: 1em;
}
#inner{
    border: 1px solid ;
    background-color:firebrick;
    padding: 3em;
}