.card{
    height: 20%;
    width: 20%;
    border: 3px solid black;
    display: inline-block;
    margin: 3px;
    border-radius: 5px;
    border-radius: 5px;
}
img{
    height: inherit;
    width:inherit;
    height: 100%;
    width: 100%;
    border-radius: 5px;
}
#desc{
    padding: 10px;
}
.card:hover{
    box-shadow: 2px 16px 8px green;
}