.container{
    height: 100%;
    width: 100%;
    border: 2px solid black;
    background-color: #fff;
}
div{
    height: 500px;
    width: 500px;
    border: 2px solid black;
    background-color: yellow;
    display: flex;
    flex-direction: row;
    /* justify-content: space-evenly; */
      align-items:center;
     flex-wrap: wrap-reverse;

}