h1{
    background-color: antiquewhite;
    border: 2px solid black;
}
@media (width:312px) {
    h1{
        background-color:aqua;
        font-size: medium;
        color: red;
    }
    div{
        height: 600px;
        width: 100px;
        background-color:red;
    }
}
@media (max-width:700px) {
   h1{
    background-color: orange;
   }
}