*{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
    width: 100%;
}
div{
    margin: 10px;
    padding: 10px;
    height: 100px;
    width: 100px;
    border: 2px solid black;
    background-color: green;
    display: inline-block;
}
/* static means fix space */
#static{
    background-color: yellow;
    position: static;
}
.div2{
    background-color: aquamarine;
}
#relative{
background-color: blue;
position: relative;
top: 100px;
left: 100px;  /* off set means move inside  */
}
#absolute{
    background-color: rebeccapurple;
    position: absolute;
}
#fix{
    background-color: azure;
    position: fixed;
}
#stic{
    background-color: pink;
    position: sticky;
    top: 100px;
    left: 100px;
    bottom: 10px;
    right: 200px;
}