.face{
    height: 200px;
    width: 200px;
    border: 2px solid black;
    background-color: yellow;
}
#smile{
    border-radius: 50%;
}
.mouth{
    height: 30px;
    width: 80px;
    border: 2px solid black;
    position: absolute;
    top: 130px;
    left: 65px;
    border-radius: 0 0 10px 10px;
    background-color: brown;
}
.right,.left{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: black;
    display: inline-block;
    position: absolute;
    left: 40px;
    top: 50px;
}
.right{
    left: 140px;
    top: 50px;
}