#div2{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    background-color: aqua;
    margin: 100px;
    margin: 0 auto;
    transition: margin-top  ease 2s ;
}
#div2:hover{
  margin-top: 200px;
  background-color: teal;  
}