#pets{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.card{
    height: inherit;
    width: inherit;
    margin: 10px;
    padding: 10px;
    border: 4px solid black;
    border-radius: 10px;
}
img{
    height: 400px;
    width: 400px;
    border-radius: 25px;
}
span{
color: goldenrod;
}
h2{
    color: burlywood;
}
h4{
    text-align: right;
    color: teal;
}
h3{
    text-align: center;
    color: #ff43df;
}
@media (max-width:300px) {
   #pets{
    flex-wrap: wrap;
   } 
    
}