*{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
    width: 100%;
}
#page1{
    height: 50%;
    width: 100%;
    background-color:lavenderblush ;
}
#page2{
    height: 50%;
    width: 100%;
    background-color:rgb(173, 173, 188) ;
}
#page3{
    height: 50%;
    width: 100%;
    background-color:rgb(149, 125, 107) ;
}
#page1 img{
    height: 100%;
    width: 50%;
    object-fit: cover;
    position: relative;
    left: 50%;
    transform:translateX(-50%) ;
}