**{
   margin:0%;
   padding:0%;
   box-sizing:border-box;
}

html,body{
   height: 100%;
   width: 100%;
}
#btn{
    border-radius: 4px;
}
 :hover #btn{
   border-radius: 5px;
   background-color: blueviolet;
}
#cat{
    height: 200px;
    width: 200px;
}
#dog{
    height: 200px;
    width: 200px;
}