* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

#downloading {

    height: 10px;
    width: 300px;
    background-color: #dadada;
    border-radius: 120px;
}

.progress {
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1)2s;
    width: 10%;
    height: 100%;
    background-color: green;
    border-radius: 120px;
}

#center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
}
#center h3{
    opacity: 0;
}