* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    padding: 10vh 12vh;
}

html,
body {
    height: 100%;
    width: 100%;
}

textarea {
    height: 200px;
    width: 400px;
    padding: 10px;
    border: 1px solid #dadada;
    border-radius: 5px;
    outline: royalblue;
    resize: none;
    font-size: larger;
    font-weight: 400;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}