* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}
body{
    padding: 20px;
}

#tabs {
    display: flex;
    gap: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.tab {
    padding: 12px 22px;
    background-color: #66666e;
    border:2px solid #66666e;
    border-radius: 5px ;
    font-weight: 700;
}
h3{
   display: none;
    width: 50%;
    font-weight: 100;
}
#hometext{
    background-color: wheat;
    font-style: italic;
}
#abouttext{
    background-color: rgb(182, 178, 172);
    text-decoration: underline;
}
#contacttext{
    background-color: rgb(173, 172, 171);
}